

.nkar {
  margin-top: 80px;
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  padding: 0;


}

.nkar1{
  width: 100%;
  height: 600px;
 background-image: url("./nkar/fonn.jpg");
  position: relative;
  background-repeat: no-repeat;

}








.login{
  width: 330px;
  height: 400px;
  background-color: #242529;
  opacity: 0.7;
  position: absolute;
  right: 2%;
  top:10%;
  padding: 3%;
  border-radius: 10px;
}

.form{
  width: 90%;


}

.btn{
  background-color: #00b386;


}
.btn a{
  color: white;
  text-decoration: none;
}

.pickcher_text{
  width: 100%;
  height: 80px;
  background-color:	 #00b386;
}

.pickcher_text h1{
  padding: 10px;
  color: #edeee1;
  text-align: center;
}
.footer_nkar{
  width: 100%;
  height: 40px;
  background-color:#d6e1d6;/* white;*/
}
.category{
  width: 100%;
  height: 900px;
  background-color:#d6e1d6; /*white;*/
}
.category .top{
  margin-top: 5%;
  width: 100%;
  height: 360px;
  display: inline-flex;


}
p a{

  color: white;
  text-decoration: none;
}
.left{
  width: 100%;
  height: 350px;
}
.nature{
  width: 60%;
  height: 300px;
  background-image: url("./nkar/natur.jpg");
  border:4px solid  #00b386;
  margin-top: 7%;
 margin-left: 30%;
  margin-right: 5%;
  transition: 0.5s;
}
.natu{
  color:white;
}
.nature p{
  font-size: 500%;
  color:white;
  text-align: center;
  margin-top: 30%;
  display: none;

}
.nature:hover p{
  display: block;

}
.nature:hover{
  width: 65%;
  height: 340px;
  background-image: url("./nkar/natur.jpg");
  border:4px solid   #00b386;
  padding: 10px;
  box-shadow: 20px 20px 10px 10px #888888;
  margin-top: 1%;
  margin-left: 25%;
  margin-right:5%;

}
.right{
  width: 100%;
  height: 350px;
}
.animal{
  width: 60%;
  height: 300px;
  background-image: url("./nkar/ani.jpg");
  border:4px solid   #00b386;
  margin-top: 7%;
  margin-left: 5%;
  margin-right: 30%;
  transition: 0.5s;
}
.animal p{
  font-size: 500%;
  color:white;
  text-align: center;
  margin-top: 30%;
  display: none;

}
.animal:hover p{
  display: block;

}
.animal:hover{
  width: 65%;
  height: 340px;
  background-image: url("./nkar/ani.jpg");
  border:4px solid   #00b386;
  padding: 10px;
  box-shadow: -20px 20px 10px 10px #888888;
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 25%;
}


.category .bottom{
  margin-top:5% ;
  width: 100%;
  height: 400px;
  display: inline-flex;
}

.bottom_left{
  width: 100%;
  height: 350px;
}

.cars{
  width: 60%;
  height: 300px;
  background-image: url("./nkar/car.jpg");
  border:4px solid  #00b386;
  margin-top: 7%;
  margin-left: 30%;
  margin-right: 5%;
  transition: 0.5s;
}
.cars p{
  font-size: 500%;
  color:white;
  text-align: center;
  margin-top: 30%;
  display: none;

}
.cars:hover p{
  display: block;

}
.cars:hover{
  width: 65%;
  height: 340px;
  background-image: url("./nkar/car.jpg");
  border:4px solid  #00b386;
  padding: 10px;
  box-shadow: 20px 20px 10px 10px #888888;
  margin-top: 1%;
  margin-left: 25%;
  margin-right: 5%;
}
.bottom_right{
  width: 100%;
  height: 350px;

}


.city{
  width: 60%;
  height: 300px;
  background-image: url("./nkar/cit.jpg");
  border:4px solid  #00b386;
  margin-top: 7%;
  margin-left: 5%;
  margin-right: 30%;
  transition: 0.5s;

}
.city p{
  font-size: 500%;
  color: white;
  text-align: center;
  margin-top: 30%;
  display: none;

}
.city:hover p{
  display: block;

}

.city:hover {
  width: 65%;
  height: 340px;
  background-image: url("./nkar/cit.jpg");
  border:4px solid  #00b386;
  padding: 10px;
  box-shadow: -20px 20px  10px 10px#888888 ;
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 25%;
  cursor: pointer;

}


.helptext{
  width: 100%;
  height: 535px;
  display: inline-flex;
}
.leftt{
   width: 50%;
   height: 100%;
   background-color:#d6e1d6; /*white;*/
   padding: 3%;


 }
.leftt h3{
  text-align: center;
  color:dimgrey;


}
.leftt p{
  font-size: 20px;
  color: dimgrey;
  text-align: justify;
  -moz-text-align-last: justify;
  text-align-last: justify;
  padding-top: 20%;
}
.rigt{
  width: 50%;
  height: 100%;
  background-image: url("./nkar/non.jpg");
  border-left:2px solid  #00b386;
  border-top:2px solid #00b386;


}

.footer{
  width: 100%;
  height: 300px;
  background-color: #242529;
}

h2{
  color:#00b386;
  padding-top: 5%;
  padding-left: 20%;
}
 ul {
  list-style: none;

}
 li a{
   float:right;
   color: papayawhip;;
   text-decoration: none;
   margin-right: 30px;
 }
h5{
  color:papayawhip;
  margin-left: 35%;
  margin-top: 30px;

}

.bord{
  width: 80%;
  height: 1px;
  background-color: #00b386;
 margin-top: 50px;
 margin-left: 10%;
}
h6{
  color:papayawhip;
  margin-left: 40%;
  margin-top: 2%;

}









@media only screen and (max-width: 600px) {


  .nkar{
    height: 410px;
  }
  .nkar1 {
    background-image: url("./nkar/forr.jpg");
    height: 410px;
  }
  .login{
    width: 100%;
    height: 170px;
    padding-top: 0%;
    margin-left: 10%;
    padding-left: 5%;
    padding-bottom: 15%;
    border-radius: 10px;
    margin-top: 189px;

  }
  .form-group{
    width: 100%;
    height: 35px;
  }
  .form-check {
  display: none;
  }
  .btn{
    margin-top: 5%;
  }
  .footer_nkar{
    width: 100%;
    height: 50px;
  }
  .pickcher_text{
    width: 100%;
    height: 50px;

  }
  .pickcher_text h1{
    font-size: 20px;

  }


  .category{
    width: 100%;
    height:900px;
    background-color:#d6e1d6; /*white;*/
  }
  .category .top{
    padding-top: 5%;
    margin-top: 0%;
    width: 100%;
    height: 440px;
    display: block;


  }
  .left{
    width: 100%;
    height: 200px;
    margin-bottom: 5%;
  }
  .nature{
    width: 80%;
    height: 200px;
    background-image: url("./nkar/natu.jpg");
    border:4px solid  #00b386;
    margin-left: 10%;
    margin-top: 0%;


  }
  .nature:hover{
    width: 80%;
    height: 200px;
    background-image: url("./nkar/natu.jpg");
    border:4px solid  #00b386;
    margin-left:10%;
    box-shadow: 0 0 0 0 ;
    margin-top: 0%;
  }


  .right{
    width: 100%;
    height: 200px;
    margin-bottom: 5%;
  }
  .animal{
    width: 80%;
    height: 200px;
    background-image: url("./nkar/animal.jpg");
    border:4px solid  #00b386;
    margin-left:10%;
    margin-top: 5%;

  }
  .animal:hover{
    width: 80%;
    height: 200px;
    background-image: url("./nkar/animal.jpg");
    border:4px solid  #00b386;
    margin-left:10%;
    box-shadow: 0 0 0 0 ;
    margin-top: 0%;
  }


  .category .bottom{
    margin-top:5% ;
    width: 100%;
    height: 400px;
    display: block;
  }
  .bottom_left{
    width: 100%;
    height: 200px;
    margin-bottom: 5%;

  }
  .cars {
    width: 80%;
    height: 200px;
    background-image: url("./nkar/cark.jpg");
    border: 4px solid #00b386;
    margin-left: 10%;
    margin-top: 5%;
  }
  .cars:hover{
    width: 80%;
    height: 200px;
    background-image: url("./nkar/cark.jpg");
    border:4px solid  #00b386;
    margin-left:10%;
    box-shadow: 0 0 0 0 ;
    margin-top: 0%;
  }


  .bottom_right{
    width: 100%;
    height: 200px;

  }
  .city{
    width: 80%;
    height: 200px;
    background-image: url("./nkar/city.jpg");
    border: 4px solid #00b386;
    margin-left: 10%;
    margin-top: 5%;
  }
  .city:hover{
    width: 80%;
    height: 200px;
    background-image: url("./nkar/city.jpg");
    border:4px solid  #00b386;
    margin-left:10%;
    box-shadow: 0 0 0 0 ;
    margin-top: 0%;
  }

  .helptext{
    width: 100%;
    height: 535px;
    display: block;
  }
  .leftt{
    width: 100%;
    height: 50%;
    background-color:#d6e1d6; /*white;*/
    padding: 3%;


  }
  .leftt h3{
    text-align: center;
    color:dimgrey;
    font-size: 25px;


  }
  .leftt p{
    font-size: 15px;
    color: dimgrey;
    text-align: justify;
    -moz-text-align-last: justify;
    text-align-last: justify;
    padding-top: 5%;
  }

  .rigt{
    width: 100%;
    height: 50%;
    background-image: url("./nkar/nom.jpg");
    border:none;

  }
  .footer{
    width: 100%;
    height: 350px;
    background-color: #242529;
  }
  h2{
    color:#00b386;
    padding-top: 5%;
    padding-left: 40%;
  }
  ul {
    list-style:initial;

   margin-left: 40%;

  }
  li a{
    float: left;
    color: papayawhip;
    text-decoration: none;

  }
  h5{
    color:papayawhip;
    margin-left: 25%;
    margin-top: 30px;
    font-size: 15px;

  }
  h6{
    color:papayawhip;
    margin-left: 30%;
    margin-top: 2%;

  }
  .bord{
    width: 80%;
    height: 1px;
    background-color: #00b386;
    margin-top: 25px;
    margin-left: 10%;
  }
}

