
<div  class="nkar">

  <div id="one"  class="nkar1">

    <div class="login">
    <form class="form">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>

    </form>
  </div>

</div>
</div>
<div class="footer_nkar"></div>

<div class="pickcher_text">
  <h1>Choose Your Favorite  Picture</h1>
</div>
<div class="category">
            <div class="top">

                      <div class="left" >
                       <div class="nature" >
                         <p class="natu"> <a routerLink="/Nature">NATURE</a></p>
                      </div>
                       </div>


                      <div class="right">
                       <div class="animal">
                         <p> <a routerLink="/Animals">ANIMALS</a></p>
                       </div>
                      </div>
            </div>

             <div class="bottom">
                      <div class="bottom_left">
                      <div class="cars">
                        <p> <a routerLink="/Cars">CARS</a></p>
                      </div>
                      </div>

                       <div class="bottom_right">
                      <div class="city" >
                        <p> <a routerLink="/City">CITY</a></p>
                      </div>
                       </div>
                  </div>
            </div>


<div class="helptext">
  <div class="leftt">
    <h3>SHOOSE YOUR BYUTIFULL FOTO</h3>

    <p>Welcome to our site where you can find exactly
      that image which is sewn. Our site has a lot of
      images and most importantly high quality. We’re
      sure that you will find that image you need.
      Thank you for entering our site</p>
  </div>
  <div class="rigt">

    </div>

  </div>

<div class="footer">
  <h2>La Foto</h2>
  <ul>
  <li> <a routerLink="/Nature">Nature</a></li>
 <li> <a routerLink="/Animals">Animals</a></li>
  <li> <a routerLink="/Cars">Cars</a></li>
 <li> <a routerLink="/City">City</a></li>
  </ul>
  <h5>On this site you can find any pictures</h5>
  <div class="bord"></div>
  <h6>Thanks for your attention</h6>
</div>


