

<div class="animale">

  <div *ngIf="!visib" class="visib" >

  </div>
  <div *ngIf="visib" (click)="oopo()"class="on1"></div>
    <div *ngIf="!visib" (click)="oopo()"class="on1"></div>



  <div class="on2"></div>
  <div class="on3"></div>
  <div class="on4"></div>
  <div class="on5"></div>
  <div class="on6"></div>
  <div class="on7"></div>
  <div class="on8"></div>
  <div class="on9"></div>
  <div class="on10"></div>
  <div class="on11"></div>
  <div class="on12"></div>
  <div class="on13"></div>
  <div class="on14"></div>
  <div class="on15"></div>
  <div class="on16"></div>
  <div class="on17"></div>
  <div class="on18"></div>
  <div class="on19"></div>
  <div class="on20"></div>
  <div class="on21"></div>
  <div class="on22"></div>
  <div class="on23"></div>
  <div class="on24"></div>
  <div class="on25"></div>





</div>



