
<nav  class=" navbar navbar-expand-lg navbar-light my-bg-light"id="ok">
  <h2>La Foto</h2>
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="my-collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
      <li   class="nav-item active">
        <h6>
        <a class="nav-link" routerLink="" >HOME<span class="sr-only">(current)</span></a>
        </h6>
      </li>
      <li class="nav-item">
        <h6>
        <a class="nav-link" routerLink="/Nature" >NATURE</a>
        </h6>
      </li>
      <li class="nav-item">
        <h6>
        <a class="nav-link"routerLink="/Animals">ANIMALS</a>
        </h6>
      </li>
      <li class="nav-item">
        <h6>
        <a class="nav-link" routerLink="/Cars">CARS</a>
        </h6>
      </li>

      <li class="nav-item">
        <h6>
        <a class="nav-link"routerLink="/City">CITY</a>
        </h6>
      </li>

      <li class="nav-item">
        <a class="nav-link disabled" href="#"></a>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <input class="my-form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="my-btn btn-outline-success my-2 my-sm-0" type="submit"><h6 class="search">Search</h6></button>
    </form>
  </div>
</nav>

<router-outlet>  </router-outlet>
