
<div class="imj">
  <div *ngIf="!visib" class="visib">  </div>









  <img src="./././assets/oi.jpg" *ngIf="visib"  (click)="ilo ()"  >
  <img src="./././assets/oi.jpg" *ngIf="!visib"  (click)="ilo ()"  >
  <img src="./././assets/3.jpg"   (click)="ilo ()"  >
  <img src="./././assets/3.jpg"   (click)="ilo ()"  >
  <img src="./././assets/16.jpg" (click)="ilo ()"   >
  <img src="./././assets/16.jpg" (click)="ilo ()"   >
  <img src="./././assets/4.jpg"   (click)="ilo ()">
  <img src="./././assets/4.jpg"   (click)="ilo ()">
  <img src="./././assets/5.jpg" (click)="ilo ()">
  <img src="./././assets/5.jpg"   (click)="ilo ()">
  <img src="./././assets/6.jpg" (click)="ilo ()">
  <img src="./././assets/6.jpg"  (click)="ilo ()">
  <img src="./././assets/7.jpg"   (click)="ilo ()">
  <img src="./././assets/7.jpg"   (click)="ilo ()">
  <img src="./././assets/15.jpg" (click)="ilo ()">
  <img src="./././assets/15.jpg"  (click)="ilo ()">
  <img src="./././assets/9.jpg"  (click)="ilo ()">
  <img src="./././assets/9.jpg"   (click)="ilo ()">
  <img src="./././assets/10.jpg" (click)="ilo ()">
  <img src="./././assets/10.jpg"   (click)="ilo ()">
  <img src="./././assets/11.jpg"  (click)="ilo ()">
  <img src="./././assets/11.jpg"   (click)="ilo ()">
  <img src="./././assets/12.jpg"  (click)="ilo ()">
  <img src="./././assets/12.jpg"  (click)="ilo ()">
  <img src="./././assets/13.jpg"  (click)="ilo ()">
  <img src="./././assets/13.jpg" alt="don"  (click)="ilo ()">





</div>
