
<div class="imj">


<div *ngIf="imgCode == 0">
  <img  *ngFor="let Image of Images" src="{{Image.url}}" (click)="pic(Image.id)" />

</div>

  <div *ngIf="imgCode !== 0" [ngSwitch]="imgCode" class="dod" >
    <button class="dowonload"  (click)="0"><h6>DOWONLOAD</h6></button>
    <button class="closed"   (click)="imgCode = 0"><h4>X</h4></button>
  <div *ngSwitchCase="'1'" class="dod" > <img src="./././assets/1.jpg" ></div>
    <div *ngSwitchCase="'2'" class="dod"><img src="./././assets/2.jpg" ></div>
    <div *ngSwitchCase="'3'" class="dod"><img src="./././assets/3.jpg"  ></div>
    <div *ngSwitchCase="'4'" class="dod"><img src="./././assets/4.jpg"  ></div>
    <div *ngSwitchCase="'5'" class="dod"><img src="./././assets/5.jpg"  ></div>
    <div *ngSwitchCase="'6'" class="dod"><img src="./././assets/6.jpg"  ></div>
    <div *ngSwitchCase="'7'" class="dod"><img src="./././assets/7.jpg"  ></div>
    <div *ngSwitchCase="'8'" class="dod"><img src="./././assets/8.jpg"  ></div>
    <div *ngSwitchCase="'9'" class="dod"><img src="./././assets/9.jpg"  ></div>
    <div *ngSwitchCase="'10'" class="dod"><img src="./././assets/10.jpg"  ></div>
    <div *ngSwitchCase="'11'" class="dod"><img src="./././assets/11.jpg"  ></div>
    <div *ngSwitchCase="'12'" class="dod"><img src="./././assets/12.jpg"  ></div>


  </div> 


  </div>

